#header {
  padding: 10px;
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-end;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 0px;
}

#guest-icon,
#google-icon {
  margin-bottom: 10px;
  /* height: 1.5rem !important;
  width: auto; */
  /* border: solid; */
}

.nes-bcrikko {
  height: 15px !important;
}
.login-auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* stuff added by kyle */
#ckout-tabs-tab-contact,
#ckout-tabs-tab-shipping,
#ckout-tabs-tab-billing,
#ckout-tabs-tab-CC {
  font-size: 0.75rem;
}

#ckout-form-info {
  font-size: 0.7rem;
}

#same-shipping-text {
  font-size: 0.7rem;
}

#checkout-form-guest {
  font-size: 0.8rem;
}

.StripeElement {
  width: 100%;
  height: 75px;
}

iframe {
  height: 30px !important;
}

#admin-display {
  width: 100vw;
  height: 100vh;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rejected-display {
  padding: 15px;
  width: 100vw;
  height: 100vh;
}

#customer_admin_display,
#product_admin_display,
#metrics_display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#admin_container {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 60%;
  padding: 5px;
  justify-content: space-evenly;
}

.admin-pokeballs {
  height: 200px;
  width: 200px;
}

#process-dialog {
  margin: auto;
  width: 400px;
  height: 200px;
}

#masterball-roll {
  position: relative;
  animation-name: rolling;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rolling {
  0% {
    left: 0px;
    transform: rotate(0deg);
  }
  10% {
    left: 25px;
    transform: rotate(36deg);
  }
  20% {
    left: 50px;
    transform: rotate(72deg);
  }
  30% {
    left: 75px;
    transform: rotate(98deg);
  }
  40% {
    left: 100px;
    transform: rotate(144deg);
  }
  50% {
    left: 125px;
    transform: rotate(180deg);
  }
  60% {
    left: 150px;
    transform: rotate(216deg);
  }
  70% {
    left: 175px;
    transform: rotate(252deg);
  }
  80% {
    left: 200px;
    transform: rotate(288deg);
  }
  90% {
    left: 225px;
    transform: rotate(324deg);
  }
  100% {
    left: 250px;
    transform: rotate(360deg);
  }
}

.custom-modals {
  background-image: url("./customPokedexScreen.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  margin: 0;
  /* position: absolute;
  top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.15) 5.95px 5.95px 3.6px;
}

#customer-pokedex-screen {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  /* border: solid green; */
  height: 450px;
  /* width: 600px; */
}

#customer-screen {
  grid-column: 1;
  grid-row: 1;
  padding: 2px;
  font-size: 0.5rem;
  overflow: auto;
  /* height: 60%; */
  /* border: solid red 1px; */
}

#customer-orders {
  grid-column: 1;
  grid-row: 2;
  /* border: solid purple; */
  padding: 5px;
  font-size: 0.5rem !important;
  font-weight: normal !important;
}

#current-customer-order-details {
  grid-column: 2;
  grid-row: 1/3;
  /* border: solid red; */
  padding: 5px;
}

/* .poke-body {
  position: absolute;
  top: 140px;
  left: -180px;
  width: 850px;
} */
git b td,
th {
  /* border: 1px solid #a8a8a8; */
  text-align: left;
  padding: 8px;
}

#customer-portal-modal {
  overflow-y: hidden;
}

#customer-orders {
  font-size: 0.6rem;
  font-weight: bold;
}

#current-customer-order-details {
  font-size: 0.6rem;
  font-weight: bold;
}

.customer-rows:hover {
  color: lightgray;
  background-color: #999;
}
