#header {
  /* border: solid red; */
  padding: 10px;
  display: flex !important;
  align-items: flex-end;
  justify-content: flex-end;
}

.login-container {
  /* background-color: darkgreen; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 360px;
  padding: 0px;
}

#guest-icon,
#google-icon {
  margin-bottom: 10px;
  /* height: 1.5rem !important;
  width: auto; */
  /* border: solid; */
}

.nes-bcrikko {
  height: 15px !important;
}
.login-auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* stuff added by kyle */
#ckout-tabs-tab-contact,
#ckout-tabs-tab-shipping,
#ckout-tabs-tab-billing,
#ckout-tabs-tab-CC {
  font-size: 0.75rem;
}

#ckout-form-info {
  font-size: 0.7rem;
}

#same-shipping-text {
  font-size: 0.7rem;
}

#checkout-form-guest {
  font-size: 0.8rem;
}

.StripeElement {
  width: 100%;
  height: 75px;
}

iframe {
  height: 30px !important;
}

#process-dialog {
  margin: auto;
  width: 400px;
  height: 200px;
}

#masterball-roll {
  position: relative;
  animation-name: rolling;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes rolling {
  0% {
    left: 0px;
    transform: rotate(0deg);
  }
  10% {
    left: 25px;
    transform: rotate(36deg);
  }
  20% {
    left: 50px;
    transform: rotate(72deg);
  }
  30% {
    left: 75px;
    transform: rotate(98deg);
  }
  40% {
    left: 100px;
    transform: rotate(144deg);
  }
  50% {
    left: 125px;
    transform: rotate(180deg);
  }
  60% {
    left: 150px;
    transform: rotate(216deg);
  }
  70% {
    left: 175px;
    transform: rotate(252deg);
  }
  80% {
    left: 200px;
    transform: rotate(288deg);
  }
  90% {
    left: 225px;
    transform: rotate(324deg);
  }
  100% {
    left: 250px;
    transform: rotate(360deg);
  }
}
